<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{home}">

<head>
    <title>Empleado</title>
</head>

<body>

<section layout:fragment="content">
    <div class="card-body">

    <h1>Empleado</h1>

    <div class="container">
        <form action="#" th:action="@{/empleados/form}" th:object="${empleado}"
              method="post">

                    <input type="text"
                           th:field="*{fiid}"
                           name="" class="form-control d-none" id="fiid" />


            <div class="form-group row">
                <label for="fcnombre" class="col-sm-2 col-form-label">Nombre: </label>
                <div class="col-sm-4">
                    <input type="text"
                           th:field="*{fcnombre}"
                           name="" class="form-control" id="fcnombre" placeholder="Nombre"/>

                </div>
            </div>

            <div class="form-group row">
                <label for="fccorreo" class="col-sm-2 col-form-label">Correo:</label>
                <div class="col-sm-4">
                    <input type="text"
                           th:field="*{fccorreo}"
                           name="" class="form-control" id="fccorreo" placeholder="correo"/>


                </div>
            </div>


            <div class="form-group row">
                <label for="fcdireccion" class="col-sm-2 col-form-label">Domicilio:</label>
                <div class="col-sm-4">
                    <input type="text"
                           th:field="*{fcdireccion}"
                           name="" class="form-control" id="fcdireccion" placeholder="dirección"/>

                </div>
            </div>


            <div class="form-group row">
                <label for="telefono" class="col-sm-2 col-form-label">Telefono</label>
                <div class="col-sm-4">
                    <input type="text"
                           th:field="*{fctelefono}"
                           name="" class="form-control" id="telefono" placeholder="Telefono"/>

                </div>
            </div>


            <div class="form-group row">
                <label for="fdfechanacimiento" class="col-sm-2 col-form-label">Fecha de nacimiento:</label>
                <div class="col-sm-4">
                    <input type="date"
                           th:field="*{fdfechanacimiento}"
                           name="" class="form-control" id="fdfechanacimiento" placeholder="Fecha de nacimiento"/>

                </div>
            </div>


            <div class="form-group row">
                <label for="fdfechaingreso" class="col-sm-2 col-form-label">Fecha de ingreso:</label>
                <div class="col-sm-4">
                    <input type="date"
                           th:field="*{fdfechaingreso}"
                           name="" class="form-control" id="fdfechaingreso" placeholder="Fecha de ingreso"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="fiporcentaje" class="col-sm-2 col-form-label">Porcentaje:</label>
                <div class="col-sm-4">
                    <input type="number"
                           th:field="*{fiporcentaje}"
                           name="" class="form-control" id="fiporcentaje" placeholder="Fiporcentaje"/>

                </div>
            </div>



            <div class="form-group row">
                <label for="fipuesto" class="col-sm-2 col-form-label">Puesto:</label>
                <div class="col-sm-4">
                    <input type="text"
                           th:field="*{fipuesto}"
                           name="" class="form-control" id="fipuesto" placeholder="Puesto"/>

                </div>
            </div>


            <div class="form-group row">
                <label for="fccurp" class="col-sm-2 col-form-label">Curp:</label>
                <div class="col-sm-4">
                    <input type="text"
                           th:field="*{fccurp}"
                           name="" class="form-control" id="fccurp" placeholder="Curp"/>

                </div>
            </div>



            <div class="form-group row">
                <div class="col-sm-10">
                    <a th:href="@{/empleados/list}" class="btn btn-default" role="button">
                        <span aria-hidden="true"></span>Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>


        </form>
    </div>
    </div>
</section>
</body>
</html>