<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home}">

<head>
    <meta charset="UTF-8"/>
    <title>Lista de Ventas</title>

</head>
<body>
<section layout:fragment="content">
    <div class="card-body">

    <h1>Detalle de Nomina</h1>

    <br>

    <b><label class="form-label" > Folio : </label></b>
    <label class="form-label" th:text="${cabeceroNomina.fiid}" ></label>
<br>
    <b><label class="form-label" > Empleado : </label></b>
    <label class="form-label" th:text="${cabeceroNomina.fcempleado}" ></label>
    <br>

    <b><label class="form-label" > Dirección : </label></b>
    <label class="form-label" th:text="${cabeceroNomina.fcdireccion}" ></label>
    <br>
    <b><label class="form-label" > Teléfono : </label></b>
    <label class="form-label" th:text="${cabeceroNomina.telefono}" ></label>
    <br>

    <b><label class="form-label" > Fecha de ingreso : </label></b>
    <label class="form-label" th:text="${cabeceroNomina.fechaingreso}" ></label>
    <br>

    <b><label class="form-label" > Puesto : </label></b>
    <label class="form-label" th:text="${cabeceroNomina.fcpuesto}" ></label>
    <br>
    <b><label class="form-label" > Total ingresos : </label></b>
    <label class="form-label" th:text="${cabeceroNomina.fitotalbruto}" ></label>
    <br>

    <b><label class="form-label" > Descuentos : </label></b>
    <label class="form-label" th:text="${cabeceroNomina.fidescuento}" ></label>
    <br>

    <b><label class="form-label" > Total Neto : </label></b>
    <label class="form-label" th:text="${cabeceroNomina.fitotalneto}" ></label>
    <br>
    <b> <label class="form-label" > Fecha : </label></b>
    <label class="form-label" th:text="${cabeceroNomina.fdfecha}" ></label>
    <br>

    <table class="table table-striped">
        <tr>
            <th><a class="sorted" >Num</a></th>
            <th><a class="sorted" >Descripción</a></th>
            <th><a class="sorted" >Total</a></th>

        </tr>
        <tr th:each="p : ${detalleNomina}">
            <td th:text="${p.finum}"></td>
            <td th:text="${p.fcdescripcion}"></td>
            <td th:text="${p.fitotal}"></td>

        </tr>
    </table>

    </div>


</section>

</body>


</html>
