<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home}">

<head>
    <meta charset="UTF-8"/>
    <title>Lista de Empleados</title>

</head>
<body>

<section layout:fragment="content">

    <div class="card-body">

    <h3>Nomina de Empleados</h3>

<br>

    <table class="table table-striped table-sm">
        <tr>
            <th><a>No.</a></th>
            <th><a >Nombre</a></th>
            <th><a >Percepciones</a></th>
            <th><a >Descuento</a></th>
            <th><a >Neto</a></th>
            <th><a >Fecha</a></th>



            <th>Opciones</th>
        </tr>
        <tr th:each="p : ${lista}">

            <td th:text="${p.fiid}"></td>
            <td th:text="${p.fcempleado}"></td>
            <td th:text="${p.fitotalbruto}"></td>
            <td th:text="${p.fidescuento}"></td>
            <td th:text="${p.fitotalneto}"></td>
            <td th:text="${p.fdfecha}"></td>



            <td>

                <a  class="btn btn-success"  title="Editar Empleado"  th:href="@{/empleados/nominaDetalle(fiid=${p.fiid})}">
                    <i class="fas fa-search"></i> Ver Detalle
                    </span>
                </a>

            </td>
        </tr>
    </table>


    <div class="row">
        <div class="col-sm-5">
            <div class="pagination"><p>Mostrando <span class="badge"
                                                       th:text="${page.size * (page.number-1) + 1}"></span> de
                <span class="badge" th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1)+ page.size}"></span> de
                <span class="badge"
                      th:text="${page.totalElements}"></span>
                registros</p></div>
        </div>

        <div class="col-sm-7">
            <!-- Pagination Bar -->
            <div th:fragment='paginationbar'>
                <div class="text-center">
                    <ul class="pagination pagination-centered">
                        <li class="page-item"  th:class="${page.firstPage}?'disabled':''">
                            <span class="sr-only" th:if='${page.firstPage}'>← First</span>
                            <a class="page-link" th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←
                                Inicio</a>
                        </li>
                        <li class="page-item" th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span class="sr-only" th:if='${not page.hasPreviousPage}'>«</span>
                            <a class="page-link" th:if='${page.hasPreviousPage}'
                               th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                               title='Anterior'>«</a>
                        </li>
                        <li class="page-item  " th:each='item : ${page.items}' th:classappend="${item.current} ? active : ''" >
                            <span class="page-link " th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a class="page-link " th:if='${not item.current}'
                               th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                    th:text='${item.number}'>1</span></a>
                        </li>
                        <li class="page-item" th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span class="sr-only" th:if='${not page.hasNextPage}'>»</span>
                            <a class="page-link" th:if='${page.hasNextPage}'
                               th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                               title='Siguiente'>»</a>
                        </li>
                        <li class="page-item" th:class="${page.lastPage}? 'disabled' : ''">
                            <span class="sr-only" th:if='${page.lastPage}'>Last →</span>
                            <a  class="page-link" th:if='${not page.lastPage}'
                                th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Ultimo →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>



</section>

</body>


</html>
