<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home}">

<head>
    <meta charset="UTF-8"/>
    <title>Lista de Ventas</title>

</head>
<body>
<section layout:fragment="content">

    <div class="card-body">

    <h1>Lista de Ventas</h1>
    <div align="right">
        <form th:action="@{/facturas/list}" method="get">
            <div class="input-group input-group-sm" style="width: 450px;">
                <input type="text" name="text" class="form-control pull-right" placeholder="Buscar" th:if="${key} == null"/>
                <input type="text" name="text" class="form-control pull-right" placeholder="Buscar" th:if="${key} != null" th:text="${key}" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar...</button>
                </div>
            </div>
        </form>
    </div>

    <br>

    <table class="table table-striped">
        <tr>
            <th><a class="sorted" >Folio</a></th>
            <th><a class="sorted" >Cliente</a></th>
            <th><a class="sorted" >Placas</a></th>


            <th><a class="sorted" >Total</a></th>
            <th><a class="sorted" >Fecha</a></th>
            <th><a class="sorted" >Estatus</a></th>
             <th>&nbsp;Opciones</th>
        </tr>
        <tr th:each="p : ${lista}">
            <td th:text="${p.fiid}"></td>
            <td th:text="${p.fccliente}"></td>
            <td th:text="${p.fcplacas}"></td>


            <td th:text="${p.fitotal}"></td>
            <td th:text="${p.fdfecha}"></td>
            <td th:if="${p.fistatus==1}">Activa</td>
            <td th:if="${p.fistatus==2}">Cancelada</td>
            <td>
               <a href="#" class="btn btn-info" title="Ver Detalle" th:href="@{/facturas/listDetalle(fiid=${p.fiid})}">
                    <span class="fa fa-search"> Ver Detalle</span>
                </a>

                <a href="#" class="btn btn-danger" title="Cancelar Factura" th:href="@{/facturas/cancelar(id=${p.fiid})}" onclick="return confirm('¿Confirma cancelar la Factura?');">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    </table>


    <div class="row">
        <div class="col-sm-5">
            <div class="pagination"><p>Mostrando <span class="badge"
                                                       th:text="${page.size * (page.number-1) + 1}"></span> de
                <span class="badge" th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1)+ page.size}"></span> de
                <span class="badge"
                      th:text="${page.totalElements}"></span>
                registros</p></div>
        </div>

        <div class="col-sm-7">
            <!-- Pagination Bar -->
            <div th:fragment='paginationbar'>
                <div class="text-center">
                    <ul class="pagination pagination-centered">
                        <li class="page-item"  th:class="${page.firstPage}?'disabled':''">
                            <span class="sr-only" th:if='${page.firstPage}'>← First</span>
                            <a class="page-link" th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←
                                Inicio</a>
                        </li>
                        <li class="page-item" th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span class="sr-only" th:if='${not page.hasPreviousPage}'>«</span>
                            <a class="page-link" th:if='${page.hasPreviousPage}'
                               th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                               title='Anterior'>«</a>
                        </li>
                        <li class="page-item  " th:each='item : ${page.items}' th:classappend="${item.current} ? active : ''" >
                            <span class="page-link " th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a class="page-link " th:if='${not item.current}'
                               th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                    th:text='${item.number}'>1</span></a>
                        </li>
                        <li class="page-item" th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span class="sr-only" th:if='${not page.hasNextPage}'>»</span>
                            <a class="page-link" th:if='${page.hasNextPage}'
                               th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                               title='Siguiente'>»</a>
                        </li>
                        <li class="page-item" th:class="${page.lastPage}? 'disabled' : ''">
                            <span class="sr-only" th:if='${page.lastPage}'>Last →</span>
                            <a  class="page-link" th:if='${not page.lastPage}'
                                th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Ultimo →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>




</section>

</body>


</html>
