<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{home}">

<head>
    <title>Vehiculo</title>
</head>

<body>
<section layout:fragment="content">

    <div class="card-body">

    <h1>Cliente</h1>

    <div class="container">
        <form action="#" th:action="@{/clientes/formauto}" th:object="${vehiculo}"
              method="post">

                    <input type="text"

                           name="fiid" class="form-control d-none" id="fiid" th:value="${ficliente}" />


            <div class="form-group row">
                <label for="fcplacas" class="col-sm-2 col-form-label">Placas:</label>
                <div class="col-sm-10">
                    <input type="text"
                           th:field="*{fcplacas}"
                           name="" class="form-control" id="fcplacas" placeholder="Placas"/>

                </div>
            </div>



            <div class="form-group row">
                <label for="fccolor" class="col-sm-2 col-form-label">Color:</label>
                <div class="col-sm-10">
                    <input type="color"
                           th:field="*{fccolor}"
                           name="" class="form-control" id="fccolor" placeholder="color"/>

                </div>
            </div>


            <div class="form-group row">
                <label for="fcmarca" class="col-sm-2 col-form-label">Marca:</label>
                <div class="col-sm-10">
                    <input type="text"
                           th:field="*{fcmarca}"
                           name="" class="form-control" id="fcmarca" placeholder="Marca"/>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <a th:href="@{/clientes/list}" class="btn btn-default" role="button">
                        <span aria-hidden="true"></span>Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>


        </form>
    </div>
    </div>
</section>
</body>
</html>