<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Lista de clientes</title>

</head>
<body>
<section layout:fragment="content">


    <nav id="navlist" class="col-sm-3 col-md-2 bg-light sidebar">
        <ul  class="nav nav-pills flex-column">
            <li class="nav-item"><a id="opcion1" class="nav-link active" href="list">Clientes
                <span class="sr-only">(current)</span>
            </a></li>

        </ul>
    </nav>

    <h1>Lista de clientes</h1>
    <div align="right">
        <form th:action="@{/clientes/list}" method="get">
            <div class="input-group input-group-sm" style="width: 450px;">
                <input type="text" name="text" class="form-control pull-right" placeholder="Buscar" th:if="${key} == null"/>
                <input type="text" name="text" class="form-control pull-right" placeholder="Buscar" th:if="${key} != null" th:text="${key}" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar...</button>
                </div>
            </div>
        </form>
    </div>

    <a th:href="@{/clientes/form}" class="btn btn-primary far fa-file">Agregar Cliente
    </a>

    <table class="table table-striped">
        <tr>
            <th><a class="sorted" >id</a></th>
            <th><a class="sorted" >cliente</a></th>
            <th><a class="sorted" >tienda</a></th>
            <th><a class="sorted" >email</a></th>
            <th><a class="sorted" >telefono</a></th>
            <th><a class="sorted" >fecha</a></th>
             <th>&nbsp;opciones</th>
        </tr>
        <tr th:each="p : ${lista}">
            <td th:text="${p.fiid}"></td>
            <td th:text="${p.fccliente}"></td>
            <td th:text="${p.fctienda}"></td>
            <td th:text="${p.fcemail}"></td>
            <td th:text="${p.fctelefono}"></td>
            <td th:text="${p.fdfecha}"></td>

            <td>
                <a href="#" class="btn btn-success" title="Editar" th:href="@{/clientes/form(id=${p.fiid})}">
                    <span class="far fa-edit"></span> Editar
                </a>
                <a href="#" class="btn btn-danger" title="Eliminar" th:href="@{/clientes/eliminar(id=${p.fiid})}">
                    <i class="fas fa-trash-alt"></i> Eliminar
                </a>
            </td>
        </tr>
    </table>


    <div class="row">
        <div class="col-sm-5">
            <div class="pagination"><p>Mostrando <span class="badge"
                                                       th:text="${page.size * (page.number-1) + 1}"></span> de
                <span class="badge" th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1)+ page.size}"></span> de
                <span class="badge"
                      th:text="${page.totalElements}"></span>
                registros</p></div>
        </div>

        <div class="col-sm-7">
            <!-- Pagination Bar -->
            <div th:fragment='paginationbar'>
                <div class="text-center">
                    <ul class="pagination pagination-centered">
                        <li class="page-item"  th:class="${page.firstPage}?'disabled':''">
                            <span class="sr-only" th:if='${page.firstPage}'>← First</span>
                            <a class="page-link" th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←
                                Inicio</a>
                        </li>
                        <li class="page-item" th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span class="sr-only" th:if='${not page.hasPreviousPage}'>«</span>
                            <a class="page-link" th:if='${page.hasPreviousPage}'
                               th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                               title='Anterior'>«</a>
                        </li>
                        <li class="page-item  " th:each='item : ${page.items}' th:classappend="${item.current} ? active : ''" >
                            <span class="page-link " th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a class="page-link " th:if='${not item.current}'
                               th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                    th:text='${item.number}'>1</span></a>
                        </li>
                        <li class="page-item" th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span class="sr-only" th:if='${not page.hasNextPage}'>»</span>
                            <a class="page-link" th:if='${page.hasNextPage}'
                               th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                               title='Siguiente'>»</a>
                        </li>
                        <li class="page-item" th:class="${page.lastPage}? 'disabled' : ''">
                            <span class="sr-only" th:if='${page.lastPage}'>Last →</span>
                            <a  class="page-link" th:if='${not page.lastPage}'
                                th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Ultimo →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




</section>

</body>


</html>
