<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home}">

<head>
    <meta charset="UTF-8"/>
    <title>Lista de Artículos</title>

</head>
<body>

<section layout:fragment="content">

    <div class="card-body">

    <h1>Artículos</h1>
    <div align="right">
        <form th:action="@{/articulos/list}" method="get">
            <div class="input-group input-group-sm" style="width: 450px;">
                <input type="text" name="text" class="form-control pull-right" placeholder="Buscar..." th:if="${key} == null"/>
                <input type="text" name="text" class="form-control pull-right" placeholder="Buscar..." th:if="${key} != null" th:text="${key}" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar...</button>
                </div>
            </div>
        </form>
    </div>

    <a th:href="@{/articulos/form}" class="btn btn-primary btn-xs" sec:authorize="hasRole('ROLE_ADMIN')"><i class="far fa-file"></i> Agregar Artículo
    </a>

    <table class="table table-striped table-sm">
        <tr>
            <th><a>No.</a></th>
            <th><a >Clave</a></th>
            <th><a >Descripción</a></th>
            <th><a >Categoría</a></th>
            <th><a >Marca</a></th>
            <th><a >Costo</a></th>
            <th><a >Precio</a></th>
            <th><a >Existencia</a></th>
            <th><a >Tipo</a></th>
            <th>Opciones</th>
        </tr>
        <tr th:each="p : ${lista}">

            <td th:text="${p.fiid}"></td>
            <td th:text="${p.fcclave}"></td>
            <td th:text="${p.fcdescripcion}"></td>
            <td th:text="${p.fccategoria}"></td>
            <td th:text="${p.fcmarca}"></td>
            <td th:text="${p.ficosto}"></td>
            <td th:text="${p.fiprecio}"></td>
            <td th:text="${p.fiexistencia}"></td>
            <td th:if="${p.fitipo==1}" th:text="Servicio"></td>
            <td th:if="${p.fitipo==2}" th:text="Artículo"></td>

            <td>


                <a  class="btn btn-warning"  title="Editar Artículo"  th:href="@{/articulos/edit(fiid=${p.fiid})}">
                    <i  class="far fa-edit" ></i>
                    </span>
                </a>

                <a  class="btn btn-danger"  title="Eliminar Artículo"  th:href="@{/articulos/eliminar(fiid=${p.fiid})}" onclick="return confirm('Confirmar eliminar Artículo?');">
                    <i class="fas fa-trash-alt"></i>
                    </span>
                </a>

            </td>
        </tr>
    </table>


    <div class="row">
        <div class="col-sm-5">
            <div class="pagination"><p>Mostrando <span class="badge"
                                                       th:text="${page.size * (page.number-1) + 1}"></span> de
                <span class="badge" th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1)+ page.size}"></span> de
                <span class="badge"
                      th:text="${page.totalElements}"></span>
                registros</p></div>
        </div>

        <div class="col-sm-7">
            <!-- Pagination Bar -->
            <div th:fragment='paginationbar'>
                <div class="text-center">
                    <ul class="pagination pagination-centered">
                        <li class="page-item"  th:class="${page.firstPage}?'disabled':''">
                            <span class="sr-only" th:if='${page.firstPage}'>← First</span>
                            <a class="page-link" th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←
                                Inicio</a>
                        </li>
                        <li class="page-item" th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span class="sr-only" th:if='${not page.hasPreviousPage}'>«</span>
                            <a class="page-link" th:if='${page.hasPreviousPage}'
                               th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                               title='Anterior'>«</a>
                        </li>
                        <li class="page-item  " th:each='item : ${page.items}' th:classappend="${item.current} ? active : ''" >
                            <span class="page-link " th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a class="page-link " th:if='${not item.current}'
                               th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                    th:text='${item.number}'>1</span></a>
                        </li>
                        <li class="page-item" th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span class="sr-only" th:if='${not page.hasNextPage}'>»</span>
                            <a class="page-link" th:if='${page.hasNextPage}'
                               th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                               title='Siguiente'>»</a>
                        </li>
                        <li class="page-item" th:class="${page.lastPage}? 'disabled' : ''">
                            <span class="sr-only" th:if='${page.lastPage}'>Last →</span>
                            <a  class="page-link" th:if='${not page.lastPage}'
                                th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Ultimo →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>



</section>

</body>


</html>
