<!DOCTYPE html>

<body>

<section th:fragment="content2">


    <div class="container-fluid">
        <div class="row">
            <nav id="navlist" class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                <ul  class="nav nav-pills flex-column">
                    <li class="nav-item active"> <a class="nav-link" href="/puntoventa/puntoventa" >Punto de venta</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="/clientes/list" >Clientes</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="/facturas/list" >Ventas</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="/facturas/listcortecaja" >Cortes de caja</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="/facturas/listdepositocaja" >Depósitos de caja</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="/empleados/nominalist" >Nomina</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</section>

</body>




</html>
